<nav>
  <p>
    yo angular, hows the weather at espn?
  </p>
  <div ng-show="forcast">
    {{geo.geobytescity}} - {{forcast.daily.summary}}<br />
    Powered by <a href="http://forecast.io/">Forecast</a>, <a href="http://geobytes.com">Geobytes</a> and <a href="https://words.bighugelabs.com/">Big Huge Thesaurus</a>
  </div>
  <br />

  <div ng-show="iss_weather_forcast">
    weather forecast under the international space station - <p>{{iss_weather_forcast.daily.summary}}</p>
    <iframe width="300" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{issGoogleMapsUrl(iss_position.latitude, iss_position.longitude)}}"></iframe><br /><small><a href="{{issGoogleMapsUrl(iss_position.latitude, iss_position.longitude)}}" style="color:#0000FF;text-align:left" target="_blank">See map bigger</a></small>
  </div>

  <div ng-show="peopleinspace">
    <p>
      PEOPLE IN SPAAAAAAAACE!!!!!!
    </p>

    <ul ng-repeat="p in peopleinspace.people">
      <li>{{p.name}} - {{p.craft}}</li>
    </ul>
  </div>

  <div ng-show="feednow">

    <p>
    ESPN Headlines!
    </p>

    <p>
      <dl class="dl-horizontal" ng-repeat="next in feednow.feed">
        <dt><span ng-show="next.type != 'BlogEntry'">{{next.type}}</span><span ng-show="next.type == 'BlogEntry'">{{next.blogName + ' blog'}}</span></dt>
        <dd>
          <a href="{{next.links.web.href}}" target="_blank">{{next.headline}}...</a>
          <div ng-show="next.type == 'Media' || next.type == 'HeadlineNews'">
            <div ng-repeat="nextimg in next.images">
              <img src="{{nextimg.url}}"/><br />
              {{img.caption}}<br />
            </div>
            <div ng-repeat="vid in next.video">
              <br />
              <video ng-show="vid.links.source.mezzanine" width="640" controls>
                <source src="{{trust(vid.links.source.mezzanine.href)}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </dd>
      </dl>
    </p>
  </div>

</nav>
